<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrabajosEntity.Properties.Settings.SoporteConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Soporte;Persist Security Info=True;User ID=sa;Password=955763"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>